body {
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
}
a {
  text-decoration: none;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: end;
  background: #f6f6f6;
}
.header a {
  display: block;
  font-size: 15px;
  margin: 6px;
}
.header span {
  padding: 0 10px 0 5px;
}
.header .facebook {
  color: #4460ea;
  border-right: 2px solid #cccccc;
}
.header .facebook:hover {
  font-weight: bold;
  color: #182252;
}
.header .twitter {
  color: #00aaec;
}
.header .twitter:hover {
  font-weight: bold;
  color: #00354a;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 170px;
  height: 36px;
  display: block;
  background-repeat: round;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.logo_1 {
  background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png);
}
.logo_2 {
  background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/footerLogo.png);
}
.nav > ul {
  display: flex;
  align-items: center;
}
.cart a {
  color: #00cc99;
  font-weight: bold;
  display: block;
  padding: 16px;
}
.cart ul {
  display: none;
  background: #fff;
  display: none;
  position: absolute;
  left: 0px;
  top: 51px;
  z-index: 2;
  text-align: center;
  width: 100%;
}
.cart > li {
  border-bottom: 3px solid #fff;
  position: relative;
}
.cart > li:hover {
  border-bottom: 3px solid #00cc99;
}
.slidecart :hover {
  background: yellow;
}
.banner {
  height: 346px;
  background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png);
  background-size: cover;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
}
.banner h2 {
  width: 100%;
  color: #fff;
  font-size: 36px;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 36px;
  margin: auto;
}
.course {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 62px 20px;
}
.course > li {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #808080;
}
.course .img_box {
  max-width: 300px;
  height: 100px;
  display: block;
  margin: 20px auto;
}
.course h4 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.course p {
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
  margin: 8px 20px 20px;
}
.feature p {
  margin: 8px 20px 0;
}
.feature ul {
  margin: 0 20px 20px;
}
.feature li {
  line-height: 1.5;
  list-style-type: disc;
  margin-left: 20px;
}
.comparison {
  margin: 0 82px 60px;
}
.comparison h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.comparison table {
  font-size: 15px;
  width: 100%;
  text-align: left;
}
.comparison th,
.comparison td {
  padding: 12px 20px;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
}
.comparison th {
  font-weight: bold;
  background: #f6f6f6;
}
.comparison .hightlight {
  color: #00cc99;
  font-weight: bold;
}
.info {
  color: white;
  background: linear-gradient(#00644c, #009871);
  padding: 38px 20px 30px;
}
.info h3 {
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}
.info form {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.info .info_text {
  flex: 0.5;
  margin-right: 40px;
}
.info .info_box {
  flex: 0.5;
}
.info label {
  display: block;
  margin: 5px 0;
}
.info input {
  width: 100%;
  height: 24px;
  display: block;
  margin-bottom: 15px;
  border: 0;
  padding: 0;
}
.info input:focus {
  background: pink;
}
.info .info_submit {
  font-weight: bold;
  color: #fff;
  background: #00cc99;
  border: none;
  float: right;
  width: 50px;
}
.info .info_submit:hover {
  cursor: pointer;
  color: yellow;
  background: #000;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 26px 20px 50px;
}
.footer ul {
  font-size: 15px;
  line-height: 1.5;
}
.footer a {
  color: #e12d80;
}
.footer a:hover {
  color: brown;
}
.toTop {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 80px;
  color: darkmagenta;
}
.toTop:hover {
  color: magenta;
}
/* lightbox效果 */
.lightboxOverlay {
  background-color: pink;
  opacity: 0.9;
}
